<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667870176724-fmlavr5i65f7v4i41pkeejlgqthl16a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667870176724-fmlavr5i65f7v4i41pkeejlgqthl16a4</string>
	<key>API_KEY</key>
	<string>AIzaSyBySBz0o2pdl1sXIaXqEtrW5UqJFz2VKvI</string>
	<key>GCM_SENDER_ID</key>
	<string>667870176724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pathos.pathos</string>
	<key>PROJECT_ID</key>
	<string>pathos-57f36</string>
	<key>STORAGE_BUCKET</key>
	<string>pathos-57f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:667870176724:ios:bfa23a6a6c24a7d1</string>
	<key>DATABASE_URL</key>
	<string>https://pathos-57f36.firebaseio.com</string>
</dict>
</plist>