<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257037367729-3l367iei58g4fkfsctcae605d4q220i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257037367729-3l367iei58g4fkfsctcae605d4q220i2</string>
	<key>API_KEY</key>
	<string>AIzaSyD59baJRRSVT3qQCRUEDVvn13L7HywPBZw</string>
	<key>GCM_SENDER_ID</key>
	<string>257037367729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ATLAS.recipes-n</string>
	<key>PROJECT_ID</key>
	<string>practice-project-a57d8</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-project-a57d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:257037367729:ios:a9fecd2dc7b1e431</string>
	<key>DATABASE_URL</key>
	<string>https://practice-project-a57d8.firebaseio.com</string>
</dict>
</plist>